@media (prefers-color-scheme: dark) {
  :root {
      /* Colors */
    --color-primary: #d8dee9;
    --color-secondary: #e5e9f0;
    --color-thirdly: #eceff4;
    --color-primary-tint: #6472b1;
    --color-accent: #ffa630;
    --color-gray: #f8f8f8;
    --color-med-gray: #828489;
    --color-light-gray: #3f4045;
    --color-bg: #4c566a;
    --color-bg-med: #ececec;

    /* Fonts */
    --font-color-dark: #f8f8f8;
    --font-color-light: #272727;
    --font-color-med: #6e7075;

  }
}

@media screen and (max-width:600px){
  h2 {
    font-size: 1.25rem !important;
  }
  #reset-form {
    font-size: .75rem;
  }
  li {
    line-height: .8rem !important;
    font-size: .75rem;
  }
}

:root {
  --roboger-foreground: #39ff14;
  --roboger-background: black;

  --font-family: 'Roboto Mono', monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main, body > header div {
  max-width: 40rem;
}

body > footer div {
  max-width: 100%;
}

body {
  font-family: var(--font-family);
}

fieldset {
  border: none;
}

ul {
  padding-left: 0;
  margin-left: 1px;
  list-style-type: none;
}

li {
  line-height: 1.25rem;
  margin: 0;
}

footer {
  min-height: 5em;
}

footer div p {
  margin: auto;
  text-align: right;
}

#output {
  display: none;
}

#output input {
  margin: auto;
  display: block;
  background-color: var(--roboger-background);
  color: var(--roboger-foreground);
}

#left-col h2 {
  text-align: right;
  margin-top: 0;
}

#left-col {
  float: left;
  width: 50%;
}

#right-col {
  border: 3px solid gray;
  border-radius: 6px;
  background-color: var(--roboger-background);
  color: var(--roboger-foreground);
  float: right;
  width: 50%;
  padding-left: 1em;
}

#right-col ul > li:before {
  content: "> ";
}

#lilguy:hover:after {
  content: " <[GIVE ME NUMBERS.]"
}
